@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* Maybe change the colours as they are not the most aesthetic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  color: black;
  padding: 20px;
  }

header{
  /* change background-color to a picture */
  background-image: url(/static/Images/ancient-rome.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  padding: 15px;

  /* Move the text to the center */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1{
  font-size: 80px;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0; /*set default margins to zero*/
}

.hero-text{
  background-color: #EDE8D0;
  /* Fix the padding because the font is slanted to the right making it uneven */
  padding-right: 15px;
  padding-left: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  text-align: center;
}

h1{
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.home-header{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #EDE8D0;
  padding: 15px;
  border: 2px rgb(212, 175, 55) solid;
  border-radius: 8px;
  text-align: center;
}

.intro {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  background-color: #EDE8D0;
  width: 70%;
  padding: 15px;
  border: 2px rgb(212, 175, 55) solid;
  border-radius: 8px;
}

.intro-header{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.art-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

.art-card {
  width: 300px;
  background-color: #EDE8D0;
  border: 2px rgb(212, 175, 55) solid;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  margin: 20px;
}

.art-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.art-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.no-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.art-details {
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
}
