{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<thead>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</thead>
<tbody>
    <!-- Changing this header later or maybe deleting? (looks kinda bad)-->
    <h1 class="home-header">This is the home page!</h1>
    <div class="intro">
        <!-- The introduction column CHANGE THIS IT LOOKS UGLY -->
        <h1 class="intro-header">What this websites about!</h1>More actions
        <p class="intro-words"> Explore a selection of artworks made by the Greeks, Romans and other classical artists.
            This collection includes: frescoes, sculptures, architect, reliefs, and more,
            with details on origins, current locations, time period, and people featured.</p>
    </div>
    <!-- Fresco section -->
    <div class="card-header">
        <h2 class="card-header-words">Frescoes</h2>
    </div>
     <div class="home-gallery">
        {% for row in art [:13] %}
            {% if row['type']|lower == 'fresco' %}
            <div class="home-card">
                <tr>
                    <td class="home-card_name">{{ row.art_name }}</td>
                        {% if row.image %}
                        <img class="fresco-image" src="{{ url_for('static', filename=row['image']) }}" alt="{{ row['art_name'] }}">
                        {% else %}
                        <img class="fresco-no-image" src="static/images/placeholder.png" alt="no image avaliable">
                        {% endif %}
                    <div class="home-card_details">
                        <td>Type: {{ row.type }}</td><br>
                        <td>Date made: {{ row.years }}</td><br>
                        <td>Century: {{ row.century }}</td><br>
                        <td>Found Location: {{ row.found_location }}</td><br>
                        <td>Current Location: {{ row.current_location }}</td><br>
                    </div>
                </tr>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Sculpture section -->
    <div class="card-header">
        <h2 class="card-header-words">Sculpture</h2>
    </div>
    <div class="home-gallery">
        {% for row in art [:6] %}
            {% if row['type']|lower == 'sculpture' %}
            <div class="home-card">
                <tr>
                    <td class="home-card_name">{{ row.art_name }}</td>
                        {% if row.image %}
                        <img class="sculpture-image" src="{{ url_for('static', filename=row['image']) }}" alt="{{ row['art_name'] }}">
                        {% else %}
                        <img class="sculpture-no-image" src="static/images/placeholder.png" alt="no image avaliable">
                        {% endif %}
                    <div class="home-card_details">
                        <td>Type: {{ row.type }}</td><br>
                        <td>Date made: {{ row.years }}</td><br>
                        <td>Century: {{ row.century }}</td><br>
                        <td>Found Location: {{ row.found_location }}</td><br>
                        <td>Current Location: {{ row.current_location }}</td><br>
                    </div>
                </tr>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Architecture section -->
    <div class="card-header">
        <h2 class="card-header-words">Architecture</h2>
    </div>
    <div class="home-gallery">
        {% for row in art [:15] %}
            {% if row['type']|lower == 'architecture' %}
            <div class="architect-home-card">
                <tr>
                    <td class="home-card_name">{{ row.art_name }}</td>
                        {% if row.image %}
                        <!-- Change size to fit architecture -->
                        <img class="architect-image" src="{{ url_for('static', filename=row['image']) }}" alt="{{ row['art_name'] }}">
                        {% else %}
                        <img class="architect-no-image" src="static/images/placeholder.png" alt="no image avaliable">
                        {% endif %}
                    <div class="home-card_details">
                        <td>Type: {{ row.type }}</td><br>
                        <td>Date made: {{ row.years }}</td><br>
                        <td>Century: {{ row.century }}</td><br>
                        <td>Found Location: {{ row.found_location }}</td><br>
                        <td>Current Location: {{ row.current_location }}</td><br>
                    </div>
                </tr>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Relief section -->
    <div class="card-header">
        <h2 class="card-header-words">Reliefs</h2>
    </div>
    <div class="home-gallery">
        <!-- Change to only show some -->
        {% for row in art %}
            {% if row['type']|lower == 'relief' %}
            <div class="relief-home-card">
                <tr>
                    <td class="home-card_name">{{ row.art_name }}</td>
                        {% if row.image %}
                        <!-- Change size to fit relief -->
                        <img class="relief-image" src="{{ url_for('static', filename=row['image']) }}" alt="{{ row['art_name'] }}">
                        {% else %}
                        <img class="relief-no-image" src="static/images/placeholder.png" alt="no image avaliable">
                        {% endif %}
                    <div class="home-card_details">
                        <td>Type: {{ row.type }}</td><br>
                        <td>Date made: {{ row.years }}</td><br>
                        <td>Century: {{ row.century }}</td><br>
                        <td>Found Location: {{ row.found_location }}</td><br>
                        <td>Current Location: {{ row.current_location }}</td><br>
                    </div>
                </tr>
            </div>
            {% endif %}
        {% endfor %}
    </div>
     <!-- mosaic section -->
     <div class="card-header">
        <h2 class="card-header-words">Mosaics</h2>
    </div>
    <div class="home-gallery">
        {% for row in art %}
            {% if row['type']|lower == 'mosaic' %}
            <div class="mosaic-home-card">
                <tr>
                    <td class="home-card_name">{{ row.art_name }}</td>
                        {% if row.image %}
                        <!-- Change size to fit mosaic -->
                        <img class="mosaic-image" src="{{ url_for('static', filename=row['image']) }}" alt="{{ row['art_name'] }}">
                        {% else %}
                        <img class="mosaic-no-image" src="static/images/placeholder.png" alt="no image avaliable">
                        {% endif %}
                    <div class="home-card_details">
                        <td>Type: {{ row.type }}</td><br>
                        <td>Date made: {{ row.years }}</td><br>
                        <td>Century: {{ row.century }}</td><br>
                        <td>Found Location: {{ row.found_location }}</td><br>
                        <td>Current Location: {{ row.current_location }}</td><br>
                    </div>
                </tr>
            </div>
            {% endif %}
        {% endfor %}
    </div> 
</tbody>
</html>
{% endblock %}