{% extends "layout.html" %}
{% block content %}
<div class="intro">
    <!-- The introduction column CHANGE THIS IT LOOKS UGLY -->
    <h1 class="intro-header">What this websites about!</h1>
    <p class="intro-words"> Explore a selection of artworks made by the Greeks, Romans and other classical artists.
        This collection includes: frescoes, sculptures, architect, reliefs, and more,
        with details on origins, current locations, time period, and people featured.
    </p>
</div>
<div class="section-header">
    <!-- Based off of top 20 most famous -->
    <h2 class="section-header-words">Featured Artworks</h2>
</div>
<div class="gallery">
    {% for row in art %}
    <div class="card">
        <div class="card-name">{{ row.art_name }}</div>
            <img class="card-image" src="{{ url_for('static', filename='images/' ~ row.type ~ '-' ~ row.art_name|replace(' ', '') ~ '.jpg') }}" alt="{{ row.art_name }}">
            <div class="card-details">
                <td><b>Type:</b> {{ row.type }}</td><br>
                <td><b>Date made:</b> {{ row.years }}</td><br>
                <td><b>Type:</b> {{ row.type }}</td><br>
                <td><b>Date made:</b> {{ row.years }}</td><br>
                <td><b>Century:</b> {{ row.century }}</td><br>
                <td><b>Found Location:</b> {{ row.found_location }}</td><br>
                <td><b>Current Location:</b> {{ row.current_location }}</td><br>
                <!-- Changing the wording later or making it so you can just click on the card itself -->
                <a class="link" href="{{ url_for('seperate_artworks', id=row.id) }}">Go to page</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}