{% extends "layout.html" %}
{% block content %}
<!-- Get the country name -->
{% for region in ['Italy', 'Greece', 'Turkey', 'Other'] %}
<div class="section-header">
    <!-- Puts up the country header -->
    <h2 class="section-header-words">{{ region }}</h2>
</div>
<div class="gallery">
    <!-- Shows the different locations in each country  -->
    {% for location in locations if location.region == region %}
    <div class="card">
        <h2 class="card-name">{{ location.name }}</h2>
        <!-- blurb about location -->
        <div class="location-details">{{ location.details }}</div>
        <!-- Links to seperate page -->
        <a class="more-artworks" href="{{ url_for('seperate_locations', id=location.id) }}">Click here to see artworks found here!</a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}