<!-- Fix the words dissapearing when you make the page smaller -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/all_artworks">All Artworks</a></li>
        <li><a href="/location">Locations</a></li>
        <li><a href="/time_period">Time Period</a></li>
        <!-- Chnage people name later -->
        <li><a href="/characters">People</a></li>
        <!-- Creates a drop down for the artworks -->
        <li class="dropdown">
            <a href="#" class="dropbtn">Artworks ▾</a>
            <div class="dropdown-content">
                <a href="{{ url_for('artwork_types', art_type='fresco') }}">Frescoes</a>
                <a href="{{ url_for('artwork_types', art_type='vase') }}">Vases</a>
                <a href="{{ url_for('artwork_types', art_type='sculpture') }}">Sculptures</a>
                <a href="{{ url_for('artwork_types', art_type='architecture') }}">Architecture</a>
                <a href="{{ url_for('artwork_types', art_type='relief') }}">Reliefs</a>
                <a href="{{ url_for('artwork_types', art_type='mosaic') }}">Mosaics</a>
                <a href="{{ url_for('artwork_types', art_type='jewellery') }}">Jewellery</a>
            </div>
        </li>
    </div>
  </div>
</nav>