<!-- Fix the words dissapearing when you make the page smaller -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/all_artworks">All Artworks</a></li>
        <li><a href="/location">Locations</a></li>
        <li><a href="/time_period">Time Period</a></li>
        <li><a href="/characters">People</a></li>
        <!-- Creates a drop down for the artworks -->
        <li class="dropdown">
            <a href="#" class="dropbtn">Artworks ▾</a>
            <div class="dropdown-content">
                <a href="/frescoes">Frescoes</a>
                <a href="/vases">Vases</a>
                <a href="/sculptures">Sculptures</a>
                <a href="/architecture">Architecture</a>
                <a href="/reliefs">Reliefs</a>
                <a href="/mosaics">Mosaics</a>
                <a href="/jewellery">Jewellery</a>
            </div>
        </li>
    </div>
  </div>
</nav>