{% extends "layout.html" %}
{% block content %}
<div class="section-header">
    <h2 class="section-header-words">Artworks found in {{ location_name }}</h2>
</div>
<div class="gallery">
    {% for row in art %}
    <div class="card">
        <div class="card-name">{{ row.art_name }}</div>
        <img class="card-image" 
             src="{{ url_for('static', filename='images/' ~ row.type ~ '-' ~ row.art_name|replace(' ', '') ~ '.jpg') }}" 
             alt="{{ row.art_name }}">
        <div class="card-details">
            <div><b>Type:</b> {{ row.type }}</div>
            <div><b>Date made:</b> {{ row.years }}</div>
            <div><b>Current Location:</b> {{ row.current_location }}</div>
            <a class="link" href="{{ url_for('seperate_artworks', id=row.id) }}">
                Go to artwork page
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}