<!-- SUCCESS!! -->
{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gallery-wrapper">
        <div class="home-gallery">
            {% for row in art %}
            <div class="home-card">
                <div class="home-card-name">{{ row.art_name }}</div>
                    <img class="card-image" src="{{ url_for('static', filename='images/' ~ row.type ~ '-' ~ row.art_name|replace(' ', '') ~ '.jpg') }}" alt="{{ row.art_name }}">
                    <div class="home-card-details">
                        <td><b>Type:</b> {{ row.type }}</td><br>
                        <td><b>Date made:</b> {{ row.years }}</td><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}