{% extends "layout.html" %}
{% block content %}
<title>Time Period</title>
{% for time_period in time_periods %}
<div class="section-header">
    <h2 class="section-header-words">{{ time_period }}</h2>
</div>
<div class="gallery-wrapper">
    <!-- Same css as location page for now -->
    <div class="location-gallery">
    {% for row in art if row.time_period == time_period %}
        <div class="location-card">
            <div class="card-name">{{ row.art_name }}</div>
            <img class="card-image"
                src="{{ url_for('static', filename='images/' ~ row.type ~ '-' ~ row.art_name|replace(' ', '') ~ '.jpg') }}"
                alt="{{ row.art_name }}">
            <div class="card-details">
                <td><b>Type: </b>{{ row.type }}</td><br>
                <td><bd>Date Made: </bd>{{ row.years }}</td><br>
                <td><b>Century Made: </b>{{ row.century }}</td><br>
                <td><b>Time Period Made: </b>{{ row.time_period }}</td><br>
                <!-- Changing the wording later -->
                <a class="link" href="{{ url_for('seperate_artworks', id=row.id) }}">Go to page</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Section divider -->
{% if not loop.last %}
    <div class="section-divider"></div>
{% endif %}
{% endfor %}
{% endblock %}